*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}


/*--------------- HEADER --------------------- */

header {
  height: 522px;
  background: linear-gradient( rgba(17, 117, 192, 0.75), rgba(17, 117, 192, 0.75)), url("../images/header-background.jpg");
  background-size: cover;
  background-position: center center;
}

.header-logo {
  height: 53px;
}

.header-nav {
  max-width: 1000px;
  margin: 0 150px 0 137px;
  position: relative;
}

.header-nav-left {
  margin: 0;
  height: 53px;
}

.header-nav-logotext {
  max-width: 192px;
  font-size: 15px;
  font-weight: 400;
}

.header-nav-left .header-nav-logoimage, .header-nav-top .header-nav-logotext {
  height: 53px;
  display: inline-block;
  vertical-align: middle;

}
.header-nav-logoimage {
  float: left;
  clear: left;
  margin-top: 6px;
}


.header-nav-logotext {
  font-family: "Open-sans", sans-serif;
  font-weight: 300;
  vertical-align: middle;
  letter-spacing: 0.02px;
  max-width: 100%;
  margin: 0;
  padding-top: 23px;
  padding-left: 62px;
}

.header-nav-right .header-nav-right-about, .header-nav-right .header-nav-right-search, .header-nav-right .header-nav-right-image {
/*   height: 53px; */
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.header-nav-right {
  overflow: auto;
  text-align: right;
  max-width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 16px;
  font-family: "Oswald", sans-serif;
}

.header-nav-right-about {
  letter-spacing: 0.7px;
  padding-right: 13px;
}

.header-nav-right-search {
  letter-spacing: 0.7px;
}

.header-nav-right-image {
  float: right;
}


#center-logo {
  font-family: "Open-sans", sans-serif;
  color: white;
  font-size: 90px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 920px;
  vertical-align: middle;
  padding-top: 163px;
  letter-spacing: 1px;
}

.project {
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
  color: #083450;
  margin: 0 auto;
  max-width: 300px;
  font-size: 90%;
  margin-top: -6px;
}

/*----------------- Content ------------------*/
.content {
  max-width: 100%;
  /* height: 1185px; */
  position: relative;
}

.content-container {
  height: 825px;
/*   max-width: 67.346938%; */
  width: 1300px;
  display: inline-block;
/*   margin: 0 auto; */
}

.content-section1 {
/*   max-width: 45.962323%;
margin-left: 16.326531%; */
  max-width: 618px;
  display: inline-block;
  margin-left: 160px;
  margin-top: 21px;
}

#content1title {
  font-size: 64px;
  font-weight: 400;
  line-height: 108%;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-left: 1px;
}

.postAuthor {
  padding-top: 6px;
  padding-left: 7px;
}

.authorspan {
  display: inline-block;
  height: 22px;

}
#authorName1 {
  position: relative;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  vertical-align: middle;
  font-size: 75%;
  margin-left: 5px;
}

#date {
  position: relative;
  display: inline-block;
  font-size: 80%;
  margin: 0;
  text-decoration: underline;
  vertical-align: middle;
  margin-left: 3px;
  color: #BAC6CE;
}

#on {
  position: relative;
  display: inline-block;
  font-size: 80%;
  text-decoration: none;
  margin-left: 14px;
  vertical-align: middle;
  color: #BAC6CE;
}

#author-img1 {
  margin-top: -4px;
  position: relative;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  vertical-align: middle;
}

#p1 {
  padding-top: 18px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.51px;
}

#p2 {
  padding-top: 10px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.55px
}

#blockquote {
  margin-left: 9px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 16px;
  margin-top: 22px;
  padding-bottom: 4px;
  margin-bottom: 21px;
  border-left: 1px solid #BAC6CE;
  letter-spacing: -1px;
}

#blockquotep {
  font-size: 29px;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

#p3 {
  padding-top: 10px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.44px
}

#p4 {
  padding-top: 10px;
  padding-left: 3px;
  line-height: 26px;
  letter-spacing: -0.44px
}

#btnContainer {
  text-decoration: none;
}

.btnContainer {
  position: relative;
}

.buttonContainer {
  display: inline-block;
  height: 30px;
  width: 158px;
  background-color: #A3B3BE;
  margin-right: 10px;
  position: relative;
}

.buttonlink {
  position: relative;
  vertical-align: middle;
  margin-bottom: 4px;
  text-decoration: none;
}

.buttonpic {
  height: 30px;
  width: 30px;
  float: left;
  position: relative;
  vertical-align: middle;
  background-color: #5E686E;
  text-decoration: none;
}

.buttontext {
  text-decoration: none;
  color: white;
  margin: 0;
  font-size: 12px;
  position: relative;
  vertical-align: middle;
  margin-left: 3px;
  padding-top: 3px;
}

.buttontext p {
  position: relative;
  vertical-align: middle;
  margin: 0;
  margin-top: 3px;
  text-align: center;
}

.content-section2 {
/*   max-width: 21.384615%;
margin-right: 16.326531%; */
  max-width: 278px;
  display: inline-block;
  float: right;
  margin-top: 84px;
  margin-right: 160px;
  margin-left: 80px;
}

#author-img2 {
  height: 84px;
  width: 84px;
  border-radius: 50%;
  margin-left: 97px;
  margin-right: 97px;
}

#author-name {

}

.author-social {
  list-sytle: none;
  display: inline-block;
}

.sidebar-image {
  height: 300px;
  width: 100%;
  background-image: url('../images/girl.png');
  background-size: cover;
  background-position: center center;
}

#sidebar-p {
  width: 278px;
}

.popPostsTitle {
  height: 330px;
  max-width: 100%;
}

#postTitle {
  width: 565px;
  margin: 0 auto;

}

.post-section {
  height: 330px;
  max-width: 1300px;
  margin: 0;
  position: relative;
}

.post-section ul {
  margin: 0;
  padding: 0;
  width: 1300px;
}

.post-section ul li {
  height: 330px;
  display: inline-block;
}

.post {
  font-size: 20px;
  vertical-align: bottom;
}

#post1 {
  background-image: url('../images/wolf.png');
  background-size: cover;
  background-position: center center;
  width: 25%;
  color: #07344F;
  font-family: "Open-sans", sans-serif;
  position: relative;
}

#post1 h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
}

#post2 {
  background-image: url('../images/forest.png');
  background-size: cover;
  background-position: center center;
  width: 25%;
  color: #07344F;
  font-family: "Open-sans", sans-serif;
  position: relative;
}

#post2 h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
}

#post3 {
  background-image: url('../images/man.png');
  background-size: cover;
  background-position: center center;
  width: 25%;
  color: #07344F;
  font-family: "Open-sans", sans-serif;
  position: relative;
}

#post3 h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
}

#post4 {
  background-image: url('../images/girl2.png');
  background-size: cover;
  background-position: center center;
  width: 25%;
  color: #07344F;
  font-family: "Open-sans", sans-serif;
  position: relative;
}

#post4 h3 {
  position: absolute;
  bottom: 0;
  left: 10px;
}
/*----------------- Footer -------------------*/

footer {
  max-width: 100%;
  height: 97px;
  bottom: 0;
  background-color: #083450;
  bottom: 0;
}

.footer-container {
  position: relative;
  height: 97px;
  bottom: 0;
  max-width: 980px;
  margin: 0 auto;
}

#footer-logo {
  position: absolute;
  left: 0;
  max-width: 490px;
}
.footer-logo-img {
  display: inline-block;
}
#footer-logo-text {
  display: inline-block;
  vertical-align: middle;
}


#footer-nav-ul {
  margin: 0;
  padding: 0;
  max-width: 490px;
  position: absolute;
  right: 0;
  vertical-align: middle;
}
.footer-nav-item {
  display: inline-block;
  list-style: none;
}
